/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #07070b;
    color: #d8d8df;

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Arial,
        sans-serif;

    font-size: 14px;
    line-height: 1.6;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    height: 64px;

    background: #09090e;

    border-bottom: 1px solid #22212a;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 max(20px, calc((100vw - 1250px) / 2));
}

.navbar nav {
    display: flex;
    gap: 34px;
}

.navbar a {
    color: #bdbdc7;

    text-decoration: none;

    font-size: 14px;

    transition: 0.2s ease;
}

.navbar a:hover {
    color: #a855f7;
}


/* =========================
   PAGE
========================= */

.page {
    width: min(1250px, calc(100% - 40px));

    margin: 0 auto;

    display: grid;

    grid-template-columns: 210px minmax(0, 1fr);

    column-gap: 40px;

    padding-top: 55px;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    position: sticky;

    top: 40px;

    align-self: start;

    height: fit-content;
}


/* PROFILE IMAGE */

.profile-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;

    border-radius: 50%;
    overflow: hidden;

    border: 1px solid #42245d;
    background: #0e0b14;

    box-shadow: 0 0 25px rgba(168, 85, 247, 0.12);
}

.profile-image img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50%;
}


.sidebar h1 {
    font-size: 20px;

    color: #eeeeF2;

    margin-bottom: 5px;
}


.role {
    color: #a855f7;

    font-size: 14px;

    margin-bottom: 8px;
}


.bio {
    color: #85858f;

    font-size: 12px;

    line-height: 1.6;

    max-width: 190px;
}

/* =========================
   SOCIAL LINKS
========================= */

.social-links {
    display: flex;

    flex-direction: column;

    gap: 9px;

    margin-top: 30px;
}

.social-links a {
    color: #92929d;

    text-decoration: none;

    font-size: 12px;

    transition: 0.2s ease;
}

.social-links a:hover {
    color: #b76cff;

    transform: translateX(3px);
}


/* =========================
   CONTENT
========================= */

.content {
    min-width: 0;
    width: 100%;
}

/* =========================
   SECTION TITLE
========================= */

.section-title {
    border-bottom: 1px solid #282731;

    margin-bottom: 10px;

    padding-bottom: 10px;
}

.section-title span {
    display: block;

    color: #777783;

    font-size: 10px;

    margin-bottom: 7px;
}

.section-title h2 {
    color: #eeeeF2;

    font-size: 18px;

    font-weight: 600;
}


/* =========================
   POSTS
========================= */

.post {
    display: grid;

    grid-template-columns: minmax(0, 1fr) 250px;

    gap: 25px;

    align-items: center;

    padding: 22px 0;

    border-bottom: 1px solid #1d1c24;
}

/* CATEGORY */

.category {
    color: #a855f7;

    font-size: 10px;

    font-weight: 700;

    letter-spacing: 0.8px;
}


/* TITLE */

.post h3 {
    color: #bca0ff;

    font-size: 19px;

    line-height: 1.25;

    margin-top: 4px;

    margin-bottom: 5px;

    transition: 0.2s ease;
}

.post h3:hover {
    color: #d8b4fe;
}


/* DATE */

.date {
    color: #676771;

    font-size: 13px;

    margin-bottom: 2px;
}


/* DESCRIPTION */

.post-info p {
    color: #9999a4;

    font-size: 15px;

    line-height: 1.6;

    max-width: 100%;
}


/* =========================
   TAGS
========================= */

.tags {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: 14px;
}

.tags span {
    color: #8f8f9b;

    font-size: 9px;

    padding: 3px 7px;

    border: 1px solid #292630;

    border-radius: 3px;

    background: #0c0b11;
}


/* =========================
   IMAGE
========================= */

.post-image {
    height: 140px;

    background: #0d0c12;

    border: 1px solid #282532;

    border-radius: 8px;

    overflow: hidden;

    display: flex;

    align-items: center;

    justify-content: center;

    transition: 0.25s ease;
}

.post-image img {
    width: 100%;

    height: 100%;

    object-fit: cover;

    display: block;
}

.post-image:hover {
    border-color: #7e3fb2;

    box-shadow:
        0 0 25px rgba(168, 85, 247, 0.08);
}


/* =========================
   OTHER SECTIONS
========================= */

.page-section {
    min-height: 350px;

    padding-top: 80px;

    border-bottom: 1px solid #1d1c24;
}

.page-section h2 {
    color: #c084fc;

    font-size: 20px;

    margin-bottom: 8px;
}

.page-section p {
    color: #85858f;

    font-size: 13px;
}


/* =========================
   FOOTER
========================= */

footer {
    width: min(1250px, calc(100% - 40px));

    margin: 0 auto;

    padding: 30px 0;

    color: #555560;

    font-size: 10px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 1050px) {

    .page {
        width: calc(100% - 40px);
    }

    .navbar {
        padding: 0 20px;
    }

    footer {
        width: calc(100% - 40px);
    }
}


@media (max-width: 750px) {

    .navbar {
        height: auto;

        padding: 18px 20px;

        justify-content: center;
    }

    .navbar nav {
        gap: 18px;

        flex-wrap: wrap;

        justify-content: center;
    }

   .page {
    width: 100%;

    padding: 20px;

    grid-template-columns: 1fr;

    gap: 30px;
}

    .sidebar {
        position: static;

        text-align: center;
    }

    .profile-image {
        margin-left: auto;
        margin-right: auto;
    }

    .bio {
        margin: auto;
    }

    .social-links {
        align-items: center;
    }

  .post {
    grid-template-columns: 1fr;

    gap: 20px;
}

.post-image {
    width: 100%;

    height: 200px;

    order: -1;
}
    footer {
        width: 90%;
    }
}

.post-page h1{
    font-size: 42px;
    margin: 12px 0 20px;
    line-height: 1.2;
}

.post-content{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.9;
}

.post-content h2,
.post-content h3{
    margin-top: 30px;
    margin-bottom: 13px;
    font-size: 30px;
}

.post-content p{
    margin-bottom: 18px;
}

.sidebar{
    position: sticky;

    top: 40px;

    align-self: start;

    height: fit-content;
}
.category-list{

    display:grid;

    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));

    gap:18px;

    margin-top:30px;

}

.category-list a{

    text-decoration:none;

    color:#d8d8df;

    padding:18px;

    border:1px solid #26242e;

    background:#0d0c12;

    transition:.2s;

}

.category-list a:hover{

    border-color:#a855f7;

    color:#a855f7;

}
/* CODE BLOCKS */

.post-content pre {
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 16px;
    margin: 20px 0;

    overflow-x: auto;
    max-width: 100%;
}

.post-content pre code {
    background: transparent;
    padding: 0;
    color: #e6edf3;

    font-size: 14px;
    line-height: 1.7;

    font-family: "JetBrains Mono", "Fira Code", monospace;
}

.post-content code {
    background: #161b22;

    border-radius: 4px;

    padding: 2px 6px;

    color: #79c0ff;
}

.post-image {
    height: 140px;
    border: 1px solid #282532;
    background: #0d0c12;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

table {
    width: 100%;

    border-collapse: collapse;

    margin: 2rem 0;

    display: block;

    overflow-x: auto;
}

table + h3,
table + h2,
table + h4 {
    margin-top: 2rem;
}