<aside class="sidebar">

        <div class="profile-image">
            <img src="{{ '/assets/pinguu.jpg' | relative_url }}" alt="Neslihan Gürgen">        </div>

        <h1>Neslihan Gürgen</h1>

        <p class="role">
            Cybersecurity Enthusiast
        </p>

        <p class="bio">
            Application Security |
            Penetration Testing
        </p>

        <div class="social-links">
            <a href="https://medium.com/@grgnes" target="_blank">Medium</a>
            <a href="mailto:ngurgen08@gmail.com">Email</a>
            <a href="https://github.com/grgnes" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/neslihan-gurgen/" target="_blank">LinkedIn</a>
        </div>

    </aside>