<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Neslihan Gürgen</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
        <link rel="icon"
          type="image/png"
          href="{{ '/assets/favicon.png' | relative_url }}">
</head>

<body>

    {% include navbar.html %}

    <div class="page">

        {% include sidebar.html %}

        <main class="content">
            {{ content }}
        </main>

    </div>

    {% include footer.html %}

</body>
</html>